body, #root {
  margin: 0;
  display: flex;
  flex: 1;
  min-height: 100vh;
}

body, button, html {
  color: #333;
  font-family: GratoGrotesk,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
